@font-face {
    font-family: Intro;
    src: url("fonts/Intro.otf");
}

@font-face {
    font-family: ElektraLight;
    src: url("fonts/ElektraLight.otf");
}

@font-face {
    font-family: ElektraMedium;
    src: url("fonts/ElektraMediumPro.otf");
}

body {
  font-family: ElektraMedium, Tahoma, sans-serif;
  font-size: 100%;
  color: #696E63;
  width: 100%;
  /* overflow-x: scroll; */
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5 {
  font-family: Intro, sans-serif;
  color: #474642;
  padding: 0;
  margin: 0;
  font-size: 1.4em;
}

h2 {
  margin: 0;
}

ul, ol {
  padding: 0;
  margin: 0;
  border: 0;
  list-style-type: none;
}

.grey {
  color: #7e7e7e;
}

.white {
  color: white;
}

.dark-grey {
  color: #636363;
}

.orange {
  /*color: #fa7f14;*/
  color: #fea23d;
}
.yellow {
    color: #FFFE27;
}

.tile {
    display: inline-block;
    overflow: hidden;
    }
    .tile a {
     display: block;
     height: 100%;
     width: 100%;
    }

.wrapper-full {
  width: 100%;
  margin: 0 auto;
  background-color: #f7f7f7;

  }
  .wrapper {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

/******************************************************/

main ol li {
  padding: 10px 0px;
  font-size: 1.2em;
}

header {
  background-color: #2f2e29;
  background: url("img/bg1.jpg") repeat;
  color: white;
}

header h1 {
    color: white;
    margin: 15px;
}

header nav {
  /*background-color: rgba(212, 129, 41, 0.5);*/
  background-color: rgba(250, 127, 20, .7);
  font-family: Intro, sans-serif;
}
header nav ul,
header nav .contacts {
  font-family: ElektraMedium, Tahoma, sans-serif;
}
header nav ul {
  margin: -1px 15px;
  border-top: 1px solid #eca151;
}

header nav ul li {
    padding: 22px 10px;
    margin-left: -5px;
    height: 100%;
    /* font-size: 1em; */
    border-top: 1px solid #eca151;
}

header nav ul li a {
  padding: 22px 6px;
}

header nav ul li:hover,
header nav ul li:active
 {
  background-color:  rgba(212, 129, 41, 0.5);
}


header .our-sto {
  margin: 0 auto;
  text-align: center;
  font-size: 1.1em;
  padding: 50px 10px;
}


main .services .thumb {
  /* width: 100%; */
  text-align: center;
  margin: 10px 0px;
  padding: 30px 10px;
}

main .services .thumb i {
  font-size: 7em;
}

main .services .thumb a,
main .details a {
  color: #636363;
}

main .services .thumb a p {
  color: #636363;
  /* font-size: 1.5em; */
  margin: 0px;
}

main .services .thumb a h1 {
  color: #636363;
  margin: 20px 0px;
}

main .services .thumb:hover a,
main .services .thumb:hover p,
main .services  .thumb:hover h1 {
  color: #fa7f14;
  transition: 0.4s;
}

main .services .thumb svg {
  height: 120px;
  fill: #636363;
}

main .services .thumb:nth-child(2n-1) {
  background-color: #f7f7f7;
}

main .pro-repair .wrapper {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main .pro-repair .caption,
main .pro-repair .picture {
  flex: 0 1 auto;
}

main .pro-repair .caption {
  font-size: 1em;
  padding: 10px 10px;
}

main .pro-repair .picture {
    padding: 0px 40px;
    margin: 0 auto;
}

main .pro-repair .picture img {
  max-width: 100%;
}


main input[type='submit'],
main .a-button {
    background-color: #eca151;
    color: white;
    text-align: center;
    border:1px solid transparent;
    font-size: 1.3em;
    border-radius: 1px;
    padding: 10px;
    /* margin: 15px 0; */
  }

  main button a {
    color: white;
  }

main i,
header i {
  padding: 10px;
}

main .up {
  display: none;
  position: fixed;
  right: 20px;
  bottom: 15px;
  background-color: silver;
  opacity: .7;
  border-radius: 8px;
}

footer {
  background-color: #393939;
  padding-top: 20px;
  font-family: ElektraLight,sans-serif;
  color: white;
  font-size: 12px;
}

footer h5 {
  color: #a6a6a6;
  font-size: 14px;
}

footer ul, footer ol {
    padding-top: 10px;
}

footer ul li, footer ol li {
    padding: 1px;
}

footer .col {
  width: 90%;
  margin: 0 auto;
  padding: 20px 0px;
  font-size: 1.2em;
}

footer .col a:hover {
  color: orange;
}

footer .copyright {
  float: left;
  padding: 15px;
}

 footer .copyright a {
   color: #636363;
   font-family: ElektraMedium, sans-serif;
   font-size: 1.4em;
 }

/********************remont**************/

main .remont ol li:nth-child(2n) {
  padding: 0 0 10px 0;
}

main .form ul li {
  margin: 10px 10px;
}

main .form .field {
  width: 90%;
  margin: 3px 0;
}

main .form input[type='text'],
main .form textarea {
  width: 80%;
  height: 100%;
  padding: 5px;
  border: 1px solid #eca151;
  outline: 0;
  background-color: #f7f7f7;
}

main .form textarea {
  min-height: 130px;
  padding: 5px;
  resize: none;
}

/****************about********************************/

main .quality-management h1 {
  font-size: 25px;
}

main .quality-management h2 {
  font-size: 16px;
  margin: 10px 0 5px 0;
}

main .quality-management p {
  margin: 0;
}

/*main .our-team .wrapper {
  display: flex;
  justify-content: space-around;
}

main .our-team .photo {
  flex: 0 1 auto;
  width: 50px;
  height: 50px;
}

main .our-team .photo img {
  max-width: 100%;
}*/

main .wrapper {
  padding: 20px 10px;
}


/*details*/
main .details article {
  margin: 20px 0;
}

main .details article h2 {
  margin: 15px 0;
}

main .summary a:hover {
  color: #fa7f14;
  transition: 0.2s;
}

main .details table {
  overflow-x: scroll;
}

main .details th {
  background-color: #eca151;
  color: black;
}

main .details tr,
main .details td,
main .details th {
  border: 2px solid #eca151;
  height: 40px;
}

main .details td,
main .details th {
  padding: 5px;
}

main .details tr:hover {
  background-color: lightgrey;
  color: black;
  transition: .4s;
}

main .details tr td:first-child {
  width: 34%;
}

main .details tr td:nth-child(2) {
  width: 20%;
}

main .details tr td:nth-child(3) {
  width: 41%;
}

main .details tr td:nth-child(4) {
  width: 15%;
}
