@font-face {
    font-family: Intro;
    src: url("fonts/Intro.otf");
}
@font-face {
    font-family: ElektraLight;
    src: url("fonts/ElektraLight.otf");
}
@font-face {
    font-family: ElektraMedium;
    src: url("fonts/ElektraMediumPro.otf");
}

body {
    font-family: ElektraMedium, Tahoma, sans-serif;
    font-size: 100%;
    color: #696E63;
}
a {
    text-decoration: none;
}
h1, h2, h3, h4, h5 {
    font-family: Intro, sans-serif;
    color: #474642;
    padding: 0;
    margin: 0;
}
h1 {
    font-size: 22px;
    /* color: rgba(250, 127, 20, 1); */
}
h2 {
    font-size: 18px;
}
ul, ol {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.grey {
    color: #7e7e7e;
}
.white {
    color: white;
}
.dark-grey {
    color: #636363;
}
.orange {
    /* color: rgba(250, 127, 20, 16); */
    color: #fea23d;
}
.yellow {
    color: #FFFE27;
}
.tile {
    display: inline-block;
    overflow: hidden;
}
.tile a {
    display: block;
    height: 100%;
    width: 100%;
}
.wrapper-full {
    width: 100%;
    margin: 0 auto;
    background-color: #f7f7f7;
}
.wrapper {
    width: 75%;
    margin: 0 auto;
    overflow: hidden;
}

/******************************************************/

header {
    background-color: #696E63;
    background-image: url("img/bg1.jpg");
    /* background: url("img/bg-cars.jpg") repeat; */
    background-attachment: fixed;
    color: white;
    font-size: 16px;
    border-bottom: 5px solid rgba(250, 127, 20, 0.7);
    overflow: hidden;
}
header h2 {
    font-size: 25px;
    color: #FFFE27;
}
header nav {
    /*background-color: rgba(212, 129, 41, 0.5);*/
    background-color: rgba(250, 127, 20, 0.7);
    font-family: Intro, sans-serif;
    font-size: 15px;
}
header nav h2 {
  float: left;
  margin: 15px;
}
header nav ul,
header nav .contacts {
    font-family: ElektraMedium, Tahoma, sans-serif;
}
header nav ul {
    float: right;
    margin: -1px 10px -1px 10px;
    border-top: 1px solid #eca151;
}
header nav ul li {
    float: left;
    display: inline;
    padding: 22px 7px;
    font-size: 18px;
    -webkit-transition: .5s;
    transition: .5s;
}
header nav ul li a {
    padding: 22px 6px;
}
header nav ul li:hover,
header nav ul li:active {
    background-color: rgba(212, 129, 41, 1);
}
header nav .contacts {
    float: right;
    width: 220px;
    margin-top: 5px;
}
header nav .contacts img {
  height: 15px;
}
header .our-sto {
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
    color: white;
    padding: 50px 0;
}
header .our-sto h1 {
    color: white;
}
main .summary {
    text-align: center;
}
main .summary h2 {
  font-size: 22px;
}
main .services {
    padding-top: 30px;
}
main .services .thumb {
    min-width: 150px;
    max-width: 30%;
    height: 220px;
    text-align: center;
    padding: 10px;
}
main .services .thumb a,
main .details a {
    color: #636363;
    -webkit-transition: .5s;
    transition: .5s;
}
main .services .thumb a p {
    color: #636363;
    margin: 0px;
    -webkit-transition: .5s;
    transition: .5s;
}
main .services .thumb a h2 {
    font-size: 16px;
    margin: 20px 0px;
    -webkit-transition: .5s;
    transition: .5s;
}
main .services .thumb svg {
    height: 80px;
    fill: #636363;
    -webkit-transition: .5s;
    transition: .5s;
}
main .services .thumb:hover a,
main .services .thumb:hover p,
main .services .thumb:hover h2 {
    color: #fa7f14;
}
main .services .thumb:hover svg {
    fill: #fa7f14;
}
main .pro-repair .caption,
main .pro-repair .picture {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
}
main .pro-repair .caption {
    min-width: 210px;
    padding: 10px 0;
}
main .pro-repair .picture {
    padding: 15px 10px 15px 0;
    float: right;
    /* height: 300px; */
}
main .pro-repair article svg {
    width: 100%;
    max-height: 220px;
    fill: #696E63;
    margin: 0 auto;
}
main .feed img {
  height: 20px;
}
main input[type='submit'],
main .a-button,
footer input[type='submit'] {
    background-color: #eca151;
    color: white;
    text-align: center;
    border: 1px solid transparent;
    font-size: 16px;
    border-radius: 1px;
    /* padding: 3px; */
    cursor: pointer;
    padding: 3px;
}
main .up {
    display: none;
    position: fixed;
    width: 60px;
    height: 60px;
    right: 1%;
    bottom: 0;
    opacity: .4;
    border-radius: 8px;
}
main .up a {
    padding: 5px;
}
main .up img {
  width: 50px;
}
main .up:hover {
    opacity: 1;
}
main .call {
  position: fixed;
  right: 1%;
  top: 50%;
  height: 30px;
  width: 30px;
  text-align: center;
  background-color: #eca151;
  padding: 10px;
  border-radius: 100%;
  -webkit-transition: .7s;
  transition: .7s;
}
main .call:hover {
  background-color: #FFFE27;
}
main .call img {
  width: 30px;
  margin: 0 auto;
}
footer {
    background-color: #393939;
    border-top: 5px solid rgba(250, 127, 20, 0.7);
    font-family: ElektraLight, sans-serif;
    color: white;
    font-size: 12px;
}
footer .discount {
  text-align: center;
  padding: 15px;
}
footer .discount input[type='text'] {
  padding: 5px;
  border: 1px solid #eca151;
  outline: 0;
  background-color: #f7f7f7;
  width: 50%;
}
footer h5 {
    color: #7f7f7f;
    font-size: 14px;
}
footer ul {
    padding-top: 10px;
}
footer ul li {
    padding: 1px;
}
footer .col {
    display: inline-block;
    height: 110px;
    width: 24%;
    padding: 0 4%;
}
footer .col a:hover {
    color: #FFFE27;
}
footer .copyright {
    padding: 15px 0;
}
footer .copyright a {
    color: #636363;
    font-family: ElektraMedium, sans-serif;
    font-size: 14px;
}

/********************remont**************/

main .remont h2 {
    font-size: 18px;
}
main .remont ol,
main .remont ul {
    list-style-type: none;
    width: 550px;
}
main .remont ol li:nth-child(2n) {
    padding: 0 0 10px 0;
}
main .form ul li {
    margin: 10px 10px;
}
main .form .field {
    width: 310px;
    height: 38px;
    margin: 3px 0;
}
main .form input[type='text'],
main .form textarea {
    width: 300px;
    height: 23px;
    padding: 5px;
    border: 1px solid #eca151;
    outline: 0;
    background-color: #f7f7f7;
}
main .form textarea {
    height: 70px;
    padding: 5px;
    resize: none;
}

/****************about********************************/

main .quality-management h1 {
    font-size: 25px;
}
main .quality-management h2 {
    font-size: 16px;
    margin: 10px 0 5px 0;
}
main .quality-management p {
    margin: 0;
}
main .wrapper {
    padding: 20px 0;
}

/*details*/

main .details article {
    margin: 20px 0;
}
main .details article h2 {
    margin: 15px 0;
}
main .details-summary p,
main .details-summary ol {
  margin-top: 5px;
}
main .details-summary li a {
    font-size: 18px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
main .details-summary li a:hover {
    color: #fa7f14;
}
main ol {
    margin: 0 0 10px 0;
}
main .details table,
main .remont table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}
main .details th,
main .remont th {
    background-color: #eca151;
    color: black;
}
main .details tr,
main .details td,
main .details th,
main .remont tr,
main .remont td,
main .remont th {
    border: 2px solid #eca151;
    -webkit-transition: .2s;
    transition: .2s;

}
main .details td,
main .details th,
main .remont td,
main .remont th {
    padding: 5px;
    height: 35px;
}
main .details tr:hover,
main .remont tr:hover {
    background-color: lightgrey;
    color: black;
}
main .details tr td:first-child {
    width: 40%;
}

main .details tr td:not(first-child) {
    width: 20%;
}

main .remont tr td:last-child {
    width: 30%;
}
main .remont .caption {
    width: 70%;
    padding: 10px 0;
}
main .remont .caption br {
    text-indent: 1em;
}
