main .details article {
  margin: 20px 0;
}

main .details article h2 {
  margin: 15px 0;
}

main .summary a:hover {
  color: #fa7f14;
  transition: 0.2s;
}

main li a {
  font-size: 18px;
}

main ol {
  margin: 0 0 10px 0;
}

main .details table {
  width: 100%;
}

main .details th {
  background-color: #eca151;
  color: black;
}

main .details tr,
main .details td,
main .details th {
  border: 2px solid #eca151;
  height: 40px;
}

main .details td,
main .details th {
  padding: 5px;
}

main .details tr:hover {
  background-color: lightgrey;
  color: black;
  transition: .4s;
}

main .details tr td:first-child {
  width: 20%;
}

main .details tr td:nth-child(2) {
  width: 40%;
}

main .details tr td:nth-child(3) {
  width: 15%;
}
