main .details article {
  margin: 20px 0;
}

main .details article h2 {
  margin: 15px 0;
}

main .summary a:hover {
  color: #fa7f14;
  transition: 0.2s;
}

main li a {
  font-size: 18px;
}

main ol {
  /* margin: 0 0 0 20%; */
  /* width: 50%; */
  /* margin: 0 auto; */
  /* text-align: center; */
}

main .details table {
  /* width: 100%; */
  /* width: 1000px; */
  overflow-x: scroll;
  font-size: 2.3em;
  /* font-family: ElektraLight, sans-serif; */
}

main .details th {
  background-color: #eca151;
  color: black;
}

main .details tr,
main .details td,
main .details th {
  border: 2px solid #eca151;
  height: 40px;
}

main .details td,
main .details th {
  padding: 5px;
}

main .details tr:hover {
  background-color: lightgrey;
  color: black;
  transition: .4s;
}

main .details tr td:first-child {
  width: 34%;
}

main .details tr td:nth-child(2) {
  width: 20%;
}

main .details tr td:nth-child(3) {
  width: 41%;
}

main .details tr td:nth-child(4) {
  width: 15%;
}
