@charset 'UTF-8';
@font-face {
  font-family: Intro;
  src: url('fonts/Intro.otf');
}

@font-face {
  font-family: ElektraLight;
  src: url('fonts/ElektraLight.otf');
}

@font-face {
  font-family: ElektraMedium;
  src: url('fonts/ElektraMediumPro.otf');
}

body {
  font-family: ElektraThin, Tahoma, sans-serif;
  font-size: 100%;
  width: 100%;
  color: #696e63;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5 {
  font-family: Intro, sans-serif;
  font-size: 1.4em;
  margin: 0;
  padding: 0;
  color: #474642;
}

h2 {
  margin: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
  border: 0;
}

.grey {
  color: #7e7e7e;
}

.white {
  color: white;
}

.dark-grey {
  color: #636363;
}

.orange {
  color: #fea23d;
}

.yellow {
  color: #fffe27;
}

.tile {
  display: inline-block;
  overflow: hidden;
}

.tile a {
  display: block;
  width: 100%;
  height: 100%;
}

.wrapper-full {
  width: 100%;
  margin: 0 auto;
  background-color: #f7f7f7;
}

.wrapper {
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  padding: 0 1px;
}

/******************************************************/

main ol li {
  font-size: 1.2em;
  padding: 10px 0;
}

header {
  color: white;
  background: url('img/bg1.jpg') repeat;
  background-color: #2f2e29;
}

header h1 {
  margin: 15px;
  color: white;
}

header nav {
  font-family: Intro, sans-serif;
  /*background-color: rgba(212, 129, 41, 0.5);*/
  background-color: rgba(250, 127, 20, .7);
}

header nav ul, header nav .contacts {
  font-family: ElektraMedium, Tahoma, sans-serif;
}

header nav ul {
  margin: -1px 15px;
  border-top: 1px solid #eca151;
}

header nav ul li {
  height: 100%;
  margin-left: -5px;
  padding: 22px 10px;
  /* font-size: 1em; */
  border-top: 1px solid #eca151;
}

header nav ul li a {
  padding: 22px 6px;
}

header nav ul li:hover, header nav ul li:active {
  background-color: rgba(212, 129, 41, .5);
}

header nav .contacts img {
  height: 15px;
}

header .our-sto {
  font-size: 1.1em;
  margin: 0 auto;
  padding: 50px 10px;
  text-align: center;
}

main .services .thumb {
  margin: 10px 0;
  padding: 30px 10px;
  text-align: center;
}

main .services .thumb i {
  font-size: 7em;
}

main .services .thumb a, main .details a {
  color: #636363;
}

main .services .thumb a p {
  margin: 0;
  color: #636363;
}

main .services .thumb a h1 {
  margin: 20px 0;
  color: #636363;
}

main .services .thumb:hover a, main .services .thumb:hover p,
main .services .thumb:hover h1 {
  transition: .4s;
  color: #fa7f14;
}

main .services .thumb svg {
  height: 120px;
  fill: #636363;
}

main .services .thumb:nth-child(2n-1) {
  background-color: #f7f7f7;
}

main .pro-repair .wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  justify-content: center;
}

main .pro-repair .caption, main .pro-repair .picture {
  flex: 0 1 auto;
}

main .pro-repair .caption {
  font-size: 1em;
  padding: 10px 10px;
}

main .pro-repair .picture {
  margin: 0 auto;
  padding: 0 40px;
}

main .pro-repair .picture img {
  max-width: 100%;
}

main .feed-box {
  width: 98%;
}

main .feed img {
  height: 20px;
}

main input[type='submit'],
main .a-button,
footer input[type='submit'] {
  font-size: 1.3em;
  text-align: center;
  color: white;
  border: 1px solid transparent;
  border-radius: 1px;
  background-color: #eca151;
  /* padding: 6px; *//* margin: 15px 0; */
}

main button a {
  color: white;
}

main i,
header i {
  padding: 10px;
}

main .up {
  position: fixed;
  right: 1%;
  bottom: 0;
  display: none;
  width: 55px;
  height: 55px;
  opacity: .5;
}

main .up a {
  padding: 5px;
}

main .up img {
  width: 50px;
}

main .call {
  position: fixed;
}

main .call:hover {
  background-color: #fffe27;
}

main .call img {
  width: 30px;
  margin: 0 auto;
}

footer {
  font-family: ElektraLight, sans-serif;
  font-size: 12px;
  padding-top: 20px;
  color: white;
  border-top: 5px solid rgba(250, 127, 20, .7);
  background-color: #393939;
}

footer .discount {
  text-align: center;
}

footer .discount input[type='text'] {
  width: 50%;
  margin: 5px 0 0 0;
  padding: 8px;
  border: 1px solid #eca151;
  outline: 0;
  background-color: #f7f7f7;
}

footer h5 {
  font-size: 14px;
  color: #a6a6a6;
}

footer ul, footer ol {
  padding-top: 10px;
}

footer ul li,
footer ol li {
  padding: 1px;
}

footer .col {
  font-size: 1.2em;
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
}

footer .col a:hover {
  color: orange;
}

footer .copyright {
  float: left;
  padding: 15px;
}

footer .copyright a {
  font-family: ElektraMedium, sans-serif;
  font-size: 1.4em;
  color: #636363;
}

/********************remont**************/

main .remont ol li:nth-child(2n) {
  padding: 0 0 10px 0;
}

main .form ul li {
  margin: 10px 10px;
}

main .form .field {
  width: 90%;
  margin: 3px 0;
}

main .form input[type='text'], main .form textarea {
  width: 80%;
  height: 100%;
  padding: 5px;
  border: 1px solid #eca151;
  outline: 0;
  background-color: #f7f7f7;
}

main .form textarea {
  min-height: 130px;
  padding: 5px;
  resize: none;
}

/****************about********************************/

main .quality-management h1 {
  font-size: 25px;
}

main .quality-management h2 {
  font-size: 16px;
  margin: 10px 0 5px 0;
}

main .quality-management p {
  margin: 0;
}

main .wrapper {
  padding: 0 0;
}

/*details*/

main .details article {
  margin: 20px 0;
}

main .details article h2 {
  margin: 15px 5px;
}

main .summary a:hover {
  transition: .2s;
  color: #fa7f14;
}

main .details th, main .remont th {
  color: black;
  background-color: #eca151;
}

table {
  width: 99%;
  border-collapse: collapse;
}

.details tr:nth-of-type(odd) {
  background: #f7f7f7;
}

.details th {
  font-weight: bold;
  color: white;
  background: #333;
}

.details td, th {
  padding: 6px;
  text-align: left;
  border: 1px solid #ccc;
}

.details table,
.details thead,
.details tbody,
.details th,
.details td,
.details tr {
  display: block;
}

.details thead tr {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.details tr {
  border: 1px solid #eca151;
  background-color: white;
}

.details td {
  position: relative;
  padding-left: 54%;
  border: none;
  border-bottom: 1px solid #eca151;
}

.details td:before {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 45%;
  padding-right: 10px;
  white-space: nowrap;
}
.details td:nth-of-type(1):before {content: 'Автомобиль';}
.details td:nth-of-type(2):before {content: 'Оригинальные';}
.details td:nth-of-type(4):before {content: 'Эконом-класс Patron';}
#chemicals td:nth-of-type(1):before {content: 'Наименование';}
#chemicals td:nth-of-type(2):before {content: 'Castrol';}
#chemicals td:nth-of-type(3):before {content: 'Eni';}
#chemicals td:nth-of-type(4):before {content: 'Другие';}
#oil-filters td:nth-of-type(3):before {content: 'Лицензия Filtron';}
#air-filters td:nth-of-type(3):before {content: 'Лицензия Filtron';}
#brake-pads td:nth-of-type(3):before {content: 'Лицензия LPR';}
#brake-disks td:nth-of-type(3):before {content: 'Лицензия LPR';}
#spherical-bearings td:nth-of-type(3):before {content: 'Лицензия CTR';}
#stabilizer-rod td:nth-of-type(3):before {content: 'Лицензия CTR';}
#stabilizer-sleeve td:nth-of-type(3):before {content: 'Лицензия LMI';}
#shock-absorbers td:nth-of-type(2):before {content: 'Kayaba';}
#shock-absorbers td:nth-of-type(3):before {content: 'Лицензия Gabriel';}
#steering-tip td:nth-of-type(3):before {content: 'Лицензия CTR';}
#transmission-set td:nth-of-type(2):before {content: 'Exedy';}
#transmission-set td:nth-of-type(3):before {content: 'Luk';}
#grm-set td:nth-of-type(3):before {content: 'Лицензия Gates';}
main .remont table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}
main .remont th {
    background-color: #eca151;
    color: black;
}
main .remont tr,
main .remont td,
main .remont th {
    border: 2px solid #eca151;
    transition: .2s;

}
main .remont td,
main .remont th {
    padding: 5px;
    height: 35px;
}
